<!DOCTYPE html>
<html lang="en">
<head>
<title>Login V15</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="SignIn/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="SignIn/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="SignIn/css/util.css">
<link rel="stylesheet" type="text/css" href="SignIn/css/main.css">
<!--===============================================================================================-->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="indexx/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/barfiller.css" type="text/css">
<link rel="stylesheet" href="indexx/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/style.css" type="text/css">

</head>
<body>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title"
					style="background-image: url(SignIn/images/admin.jpg);">
					<span class="login100-form-title-1"> </span>
				</div>

				<form class="login100-form validate-form" th:action="@{adminsignin}" th:object="${adminlogin}"
					method="post">
					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Email is required">
						<span class="label-input100">User-Id</span> <input
							th:field="*{userid}" class="input100" type="text" name="userid"
							placeholder="User-id"> <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18"
						data-validate="Password is required">
						<span class="label-input100">Password</span> <input
							th:field="*{password}" class="input100" type="password"
							name="password" placeholder="Enter password"> <span
							class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox"
								name="remember-me"> <label class="label-checkbox100"
								for="ckb1"> Remember me </label>
						</div>

						<div>
							<a href="signup" class="txt1"> Forgot Password? </a>
						</div>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<button type="submit" class="login100-form-btn">Sign-in</button>

						

					</div>
				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="SignIn/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/vendor/bootstrap/js/popper.js"></script>
	<script src="SignIn/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/vendor/daterangepicker/moment.min.js"></script>
	<script src="SignIn/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="SignIn/js/main.js"></script>



</body>
</html>