<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ashion Template">
<meta name="keywords" content="Ashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ashion | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="booking/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/jquery-ui.min.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="booking/css/style.css" type="text/css">
<link rel="stylesheet" href="booking/css/customCss.css" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="indexx/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/elegant-icons.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/barfiller.css" type="text/css">
<link rel="stylesheet" href="indexx/css/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="indexx/css/style.css" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Humberger Menu Begin -->
	<div class="humberger-menu-overlay"></div>
	<div class="humberger-menu-wrapper">
		<div class="hw-logo">
			<a href="#"><img src="img/f-logo.png" alt=""></a>
		</div>
		<div class="hw-menu mobile-menu">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="platform">Platform </a></li>
				<li><a href="home">Booking </a></li>
				<li><a href="roombooking">Room Booking </a></li>
				<li><a href="carrent">Car Rent </a></li>
				<li><a href="foodorder">Restaurant </a></li>
				<li><a href="review">Reviews </a></li>
				<li><a href="signup">Sign-Up </a></li>
				<li><a href="signin">Sign-In </a></li>
				<li><a href="adminsignin">Administration </a></li>
			</ul>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="hw-copyright">Copyright © 2020 Aurora Ltd. All
			rights reserved</div>
		<div class="hw-social">
			<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
				class="fa fa-twitter"></i></a> <a href="#"><i
				class="fa fa-youtube-play"></i></a> <a href="#"><i
				class="fa fa-instagram"></i></a>
		</div>
		<div class="hw-insta-media">
			<div class="section-title">
				<h5>Instagram</h5>
			</div>
			<div class="insta-pic">
				<img src="img/instagram/ip-1.jpg" alt=""> <img
					src="img/instagram/ip-2.jpg" alt=""> <img
					src="img/instagram/ip-3.jpg" alt=""> <img
					src="img/instagram/ip-4.jpg" alt="">
			</div>
		</div>
	</div>
	<!-- Humberger Menu End -->

	<!-- Header Section Begin -->
	<header class="">


		<div class="nav-options">
			<div class="container">
				<div class="humberger-menu humberger-open">
					<i class="fa fa-bars"></i>
				</div>
				<div class="nav-search search-switch">
					<i class="fa fa-search"></i>
				</div>
				<div class="nav-menu">
					<ul>
						<li class="active"><a href="index"><span>Home</span></a></li>
						<li><a href="platform"><span>Platform</span></a></li>
						<li><a href="home"><span>Booking </span></a>
							<ul class="dropdown">
								<li><a href="roombooking">Room Booking</a></li>
								<li><a href="carrent">Car Rent Here </a></li>
								<li><a href="foodorder">Restaurent</a></li>
							</ul></li>
						<li><a href="review"><span>Reviews </span></a></li>
						<li><a href="adminsignup"><span>Sign-Up </span></a></li>
						<li><a href="signin"><span>Sign-In </span></a></li>
						<li><a href="adminsignin"><span>Administration </span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Trend Section Begin -->
	<section class="trend spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<a href="bookBookingStatus"><h4>Room Booking Status</h4></a>
						</div>


					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<a href=""><h4>Car Rent Status</h4></a>
						</div>


					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<a href="">
								<h4>Restaurant Status</h4>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="trend spad">
		<div class="container">

			<div class="single-product-area">
				<div class="zigzag-bottom"></div>
				<div class="container">

					<div class="container">
						<div class="product-content-right">
							<div class="woocommfferce">
								<form method="post" action="#">
									<table cellspacing="0" class="shop_table cart">
										<div> <a href="bookBookingStatus"><h4>Room Booking
												Status</h4> </a>
												</div>
										<thead>
											<tr>
												<th>Name</th>
												<th>Car No</th>
												<th>Rent Cost</th>
												<th>Total Price</th>
												<th>PaymentStatus</th>
												<th>Update</th>
												<th>Delete</th>
												<th>Details</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="bookBookingStatus : ${roombooking}">
												<td th:text="${bookBookingStatus.name}"></td>
												<td th:text="${bookBookingStatus.roomcode}"></td>
												<td th:text="${bookBookingStatus.roomcost}"></td>
												<td th:text="${bookBookingStatus.totalprice}"></td>
												<td th:text="${bookBookingStatus.paymentstatus}"></td>

												<td><a
													th:href="@{edit{id}(id=${bookBookingStatus.id})}">Update</a></td>
												<td><a
													th:href="@{delete{id}(id=${bookBookingStatus.id})}">Delete</a></td>
												<td><a
													th:href="@{details{id}(id=${bookBookingStatus.id})}">Details</a></td>
											</tr>
										</tbody>
									</table>
								</form>

								<div class="cart-collaterals"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	





	<section class="services spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-car"></i>
						<h6>Free Shipping</h6>
						<p>For all oder over $99</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-money"></i>
						<h6>Money Back Guarantee</h6>
						<p>If good have Problems</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-support"></i>
						<h6>Online Support 24/7</h6>
						<p>Dedicated support</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-headphones"></i>
						<h6>Payment Secure</h6>
						<p>100% secure payment</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services Section End -->

	<!-- Instagram Begin -->
	<div class="instagram">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery1.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery2.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery3.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery6.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery5.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery4.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Instagram End -->

	<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-about">
						<div class="fa-logo">
							<a href="#"><img src="img/f-logo.png" alt=""></a>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
							lacus vel facilisis.</p>
						<div class="fa-social">
							<a href="facebook.com"><i class="fa fa-facebook"></i></a> <a
								href="twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="youtube.com"><i class="fa fa-youtube-play"></i></a> <a
								href="instagram.com"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="editor-choice">
						<div class="section-title">
							<h5>Editor's Choice</h5>
						</div>
						<div class="ec-item">
							<div class="ec-pic">
								<img src="img/trending/editor-1.jpg" alt="">
							</div>
							<div class="ec-text">
								<h6>
									<a href="#">A Monster Prom poster got hijacked for a Papa
										Roach concert...</a>
								</h6>
								<ul>
									<li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
									<li><i class="fa fa-comment-o"></i> 12</li>
								</ul>
							</div>
						</div>
						<div class="ec-item">
							<div class="ec-pic">
								<img src="img/trending/editor-2.jpg" alt="">
							</div>
							<div class="ec-text">
								<h6>
									<a href="facebook.com">Facebook wants to read your thoughts
										with its augmented...</a>
								</h6>
								<ul>
									<li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
									<li><i class="fa fa-comment-o"></i> 12</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="tags-cloud">
						<div class="section-title">
							<h5>Tags Cloud</h5>
						</div>
						<div class="tag-list">
							<a href="signup"><span>Registration</span></a> <a href="platform"><span>Platform</span></a>
							<a href="review"><span>Gallery</span></a> <a href="index"><span>Home</span></a>
							<a href="review"><span>Reviews</span></a> <a href="roombooking"><span>Roombooking</span></a>
							<a href="foodorder"><span> Restaurant</span></a> <a
								href="carrent"><span>Car Rent</span></a> <a href="home"><span>Search</span></a>
							<a href="blog"><span>Aurora's Blog</span></a> <a
								href="adminsignin"><span>Administration</span></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="booking/js/jquery-3.3.1.min.js"></script>
	<script src="booking/js/bootstrap.min.js"></script>
	<script src="booking/js/jquery.magnific-popup.min.js"></script>
	<script src="booking/js/jquery-ui.min.js"></script>
	<script src="booking/js/mixitup.min.js"></script>
	<script src="booking/js/jquery.countdown.min.js"></script>
	<script src="booking/js/jquery.slicknav.js"></script>
	<script src="booking/js/owl.carousel.min.js"></script>
	<script src="booking/js/jquery.nicescroll.min.js"></script>
	<script src="booking/js/main.js"></script>
	<script src="indexx/js/jquery-3.3.1.min.js"></script>
	<script src="indexx/js/bootstrap.min.js"></script>
	<script src="indexx/js/jquery.magnific-popup.min.js"></script>
	<script src="indexx/js/circle-progress.min.js"></script>
	<script src="indexx/js/jquery.barfiller.js"></script>
	<script src="indexx/js/jquery.slicknav.js"></script>
	<script src="indexx/js/owl.carousel.min.js"></script>
	<script src="indexx/js/main.js"></script>
</body>

</html>