<!DOCTYPE html>
<html lang="zxx">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ashion Template">
<meta name="keywords" content="Ashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Ashion | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="booking/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="booking/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="booking/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="booking/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="booking/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="booking/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="booking/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="booking/css/style.css" type="text/css">
<link rel="stylesheet" href="booking/css/customCss.css" type="text/css">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="indexx/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="indexx/css/style.css" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Menu Begin -->
    <div class="humberger-menu-overlay"></div>
    <div class="humberger-menu-wrapper">
        <div class="hw-logo">
            <a href="#"><img src="img/f-logo.png" alt=""></a>
        </div>
        <div class="hw-menu mobile-menu">
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="./categories-list.html">Categories</a></li>
                        <li><a href="./categories-grid.html">Categories grid</a></li>
                        <li><a href="./typography.html">Typography</a></li>
                        <li><a href="./details-post-default.html">Post default</a></li>
                        <li><a href="./details-post-gallery.html">Post gallery</a></li>
                        <li><a href="./details-post-review.html">Post review</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </li>
                <li><a href="#">Reviews <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="#">Playstation</a></li>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Xbox</a></li>
                    </ul>
                </li>
                <li><a href="#">Windows <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="#">Playstation</a></li>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Xbox</a></li>
                    </ul>
                </li>
                <li><a href="#">Videos <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="#">Playstation</a></li>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Xbox</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="hw-copyright">
            Copyright © 2019 Colorlib Inc. All rights reserved
        </div>
        <div class="hw-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="hw-insta-media">
            <div class="section-title">
                <h5>Instagram</h5>
            </div>
            <div class="insta-pic">
                <img src="img/instagram/ip-1.jpg" alt="">
                <img src="img/instagram/ip-2.jpg" alt="">
                <img src="img/instagram/ip-3.jpg" alt="">
                <img src="img/instagram/ip-4.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Humberger Menu End -->

    <!-- Header Section Begin -->
    <header class="">
       
       
        <div class="nav-options">
            <div class="container">
                <div class="humberger-menu humberger-open">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="nav-search search-switch">
                    <i class="fa fa-search"></i>
                </div>
                <div class="nav-menu">
                    <ul>
                        <li class="active"><a href="./index.html"><span>Home</span></a></li>
                        <li class="mega-menu"><a href="#"><span>Platform <i class="fa fa-angle-down"></i></span></a>
                            <div class="megamenu-wrapper">
                                <ul class="mw-nav">
                                    <li><a href="#"><span>Playstation</span></a></li>
                                    <li><a href="#"><span>Windows</span></a></li>
                                    <li><a href="#"><span>Mobile</span></a></li>
                                    <li><a href="#"><span>Xbox</span></a></li>
                                </ul>
                                <div class="mw-post">
                                    <div class="mw-post-item">
                                        <div class="mw-pic">
                                            <img src="img/megamenu/mm-1.jpg" alt="">
                                        </div>
                                        <div class="mw-text">
                                            <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach
                                                    concert...</a></h6>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                <li><i class="fa fa-comment-o"></i> 12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mw-post-item">
                                        <div class="mw-pic">
                                            <img src="img/megamenu/mm-2.jpg" alt="">
                                        </div>
                                        <div class="mw-text">
                                            <h6><a href="#">A new Borderlands 3 trailer introduces Moze and her...</a>
                                            </h6>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                <li><i class="fa fa-comment-o"></i> 12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mw-post-item">
                                        <div class="mw-pic">
                                            <img src="img/megamenu/mm-3.jpg" alt="">
                                        </div>
                                        <div class="mw-text">
                                            <h6><a href="#">Teamfight Tactics is in chaos after today's patch...</a>
                                            </h6>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                <li><i class="fa fa-comment-o"></i> 12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mw-post-item">
                                        <div class="mw-pic">
                                            <img src="img/megamenu/mm-4.jpg" alt="">
                                        </div>
                                        <div class="mw-text">
                                            <h6><a href="#">Borderlands 2 dev explains why there's mysterious
                                                    boxes...</a></h6>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                <li><i class="fa fa-comment-o"></i> 12</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mw-post-item">
                                        <div class="mw-pic">
                                            <img src="img/megamenu/mm-5.jpg" alt="">
                                        </div>
                                        <div class="mw-text">
                                            <h6><a href="#">Capcom asks select fans to test new Resident Evil game</a>
                                            </h6>
                                            <ul>
                                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                                <li><i class="fa fa-comment-o"></i> 12</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"><span>Pages <i class="fa fa-angle-down"></i></span></a>
                            <ul class="dropdown">
                                <li><a href="./categories-list.html">Categories</a></li>
                                <li><a href="./categories-grid.html">Categories grid</a></li>
                                <li><a href="./typography.html">Typography</a></li>
                                <li><a href="./details-post-default.html">Post default</a></li>
                                <li><a href="./details-post-gallery.html">Post gallery</a></li>
                                <li><a href="./details-post-review.html">Post review</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span>Reviews <i class="fa fa-angle-down"></i></span></a></li>
                        <li><a href="#"><span>Windows <i class="fa fa-angle-down"></i></span></a></li>
                        <li><a href="#"><span>Videos <i class="fa fa-angle-down"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->




	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			
			<div class="row property__gallery">
				<div class="col-lg-3 col-md-4 col-sm-6 mix women">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room1.jpg">
							<div class="label new">New</div>
							<ul class="product__hover">
								<li><a href="img/room1.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>

							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b>Luxury</b></a>
							</h5>
							<div class="product__price">15000</div>
							<a href="/roombooking"><button Class="btn btn-secondary">
									Room Booking</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix men">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room2.jpg">
							<ul class="product__hover">
								<li><a href="img/room2.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b>Delux</b></a>
							</h5>
							<div class="product__price">14000</div>
							<a href="/roombooking"><button Class="btn btn-secondary">
									Room Booking</button></a>

						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix men">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room3.jpg">
							<ul class="product__hover">
								<li><a href="img/room3.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b>Delux Twin</b></a>
							</h5>
							<div class="product__price">18000</div>
							<a href="/roombooking"><button Class="btn btn-secondary">
									Room Booking</button></a>

						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room4.jpg">
							<ul class="product__hover">
								<li><a href="img/room4.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b> Family Cart</b></a>
								</h6>
								<div class="product__price">11000</div>
								<a href="/roombooking"><button Class="btn btn-secondary">
										Room Booking</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room5.jpg">
							<ul class="product__hover">
								<li><a href="img/room5.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b> Couple Room</b></a>
								</h6>
								<div class="product__price">14000</div>
								<a href="/roombooking"><button Class="btn btn-secondary">
										Room Booking</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room6.jpg">
							<ul class="product__hover">
								<li><a href="img/room6.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b> Royal Heritage</b></a>
								</h6>
								<div class="product__price">20000</div>
								<a href="/roombooking"><button Class="btn btn-secondary">
										Room Booking</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room7.jpg">
							<ul class="product__hover">
								<li><a href="img/room7.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b> President</b></a>
								</h6>
								<div class="product__price">18000</div>
								<a href="/roombooking"><button Class="btn btn-secondary">
										Room Booking</button></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="img/room8.jpg">
							<ul class="product__hover">
								<li><a href="img/room8.jpg" class="image-popup"><span
										class="arrow_expand"></span></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h5>
								<a href="#"><b> HangOut</b></a>
								</h6>
								<div class="product__price">12000</div>
								<a href="/roombooking"><button Class="btn btn-secondary">
										Room Booking</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->

	<!-- Trend Section Begin -->
	<section class="trend spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<h4>Trend Room</h4>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/package1.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>HangOut</h6>
								<div class="product__price">12000</div>
								<a href="/roombooking"><div>
										<button class="btn btn-info">Booking Here</button>
									</div></a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/package2.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Honey Moon</h6>
								<div class="product__price">15000</div>
								<a href="/roombooking"><div>
										<button class="btn btn-info">Booking Here</button>
									</div></a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/package3.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Family Holiday</h6>
								<div class="product__price">8000</div>
								<a href="/roombooking"><div>
										<button class="btn btn-info">Booking Here</button>
									</div></a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/package4.png" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Business Tour</h6>
								<div class="product__price">10000</div>
								<a href="/roombooking"><div>
										<button class="btn btn-info">Booking Here</button>
									</div></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<h4>Car Rent</h4>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/car1.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Car President Trend</h6>
								<div class="product__price">5000</div>
								<a href="carrent">
									<div>
										<button class="btn btn-info">Rent Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/car2.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Car Corolla Prime</h6>
								<div class="product__price">6000</div>
								<a href="/carrent">
									<div>
										<button class="btn btn-info">Rent Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/car3.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Family Car Delux</h6>
								<div class="product__price">8000</div>
								<a href="/carrent">
									<div>
										<button class="btn btn-info">Rent Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/car4.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Royal President Car</h6>

								<div class="product__price">5000</div>
								<a href="/carrent">
									<div>
										<button class="btn btn-info">Rent Now</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="trend__content">
						<div class="section-title">
							<h4>Restaurant</h4>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/restaurant1.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Break-Fast</h6>

								<div class="product__price">250</div>
								<a href="/foodorder">
									<div>
										<button class="btn btn-info">Order Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/restaurant2.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Tea-Coffee</h6>

								<div class="product__price">300</div>
								<a href="/foodorder">
									<div>
										<button class="btn btn-info">Order Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/restaurant3.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Fresh Lunch</h6>
								<div class="product__price">480</div>
								<a href="/foodorder">
									<div>
										<button class="btn btn-info">Order Now</button>
									</div>
								</a>
							</div>
						</div>
						<div class="trend__item">
							<div class="trend__item__pic">
								<img src="img/restaurant4.jpg" alt="">
							</div>
							<div class="trend__item__text">
								<h6>Premium Dinner</h6>
								<div class="product__price">850</div>
								<a href="/foodorder">
									<div>
										<button class="btn btn-info">Order Now</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Trend Section End -->

	<!-- Discount Section Begin -->
	<section class="discount">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 p-0">
					<div class="discount__pic">
						<img src="img/discount.jpg" alt="Discount">
					</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="discount__text">
						<div class="discount__text__title">
							<span>Discount</span>
							<h2>Winter 2020</h2>
							<h5>
								<span>Off</span> 50%
							</h5>
						</div>
						<div class="discount__countdown" id="countdown-time">
							<div class="countdown__item">
								<span>22</span>
								<p>Days</p>
							</div>
							<div class="countdown__item">
								<span>18</span>
								<p>Hour</p>
							</div>
							<div class="countdown__item">
								<span>46</span>
								<p>Min</p>
							</div>
							<div class="countdown__item">
								<span>05</span>
								<p>Sec</p>
							</div>
						</div>
						<a href="#">Booking Here</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Discount Section End -->

	<!-- Services Section Begin -->
	<section class="services spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-car"></i>
						<h6>Free Shipping</h6>
						<p>For all oder over $99</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-money"></i>
						<h6>Money Back Guarantee</h6>
						<p>If good have Problems</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-support"></i>
						<h6>Online Support 24/7</h6>
						<p>Dedicated support</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="services__item">
						<i class="fa fa-headphones"></i>
						<h6>Payment Secure</h6>
						<p>100% secure payment</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services Section End -->

	<!-- Instagram Begin -->
	<div class="instagram">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery1.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery2.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery3.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery6.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery5.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 p-0">
					<div class="instagram__item set-bg" data-setbg="img/gallery4.jpg">
						<div class="instagram__text">
							<i class="fa fa-instagram"></i> <a href="#">@ aurora</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Instagram End -->

 <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/f-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua lacus vel facilisis.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="editor-choice">
                        <div class="section-title">
                            <h5>Editor's Choice</h5>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="img/trending/editor-1.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach concert...</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="img/trending/editor-2.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="#">Facebook wants to read your thoughts with its augmented...</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tags-cloud">
                        <div class="section-title">
                            <h5>Tags Cloud</h5>
                        </div>
                        <div class="tag-list">
                            <a href="#"><span>Gaming</span></a>
                            <a href="#"><span>Platform</span></a>
                            <a href="#"><span>Playstation</span></a>
                            <a href="#"><span>Hardware</span></a>
                            <a href="#"><span>Reviews</span></a>
                            <a href="#"><span>Simulation</span></a>
                            <a href="#"><span>Strategy</span></a>
                            <a href="#"><span>Scientific</span></a>
                            <a href="#"><span>References</span></a>
                            <a href="#"><span>Role-playing</span></a>
                            <a href="#"><span>Adventurea</span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="booking/js/jquery-3.3.1.min.js"></script>
	<script src="booking/js/bootstrap.min.js"></script>
	<script src="booking/js/jquery.magnific-popup.min.js"></script>
	<script src="booking/js/jquery-ui.min.js"></script>
	<script src="booking/js/mixitup.min.js"></script>
	<script src="booking/js/jquery.countdown.min.js"></script>
	<script src="booking/js/jquery.slicknav.js"></script>
	<script src="booking/js/owl.carousel.min.js"></script>
	<script src="booking/js/jquery.nicescroll.min.js"></script>
	<script src="booking/js/main.js"></script>
	<script src="indexx/js/jquery-3.3.1.min.js"></script>
    <script src="indexx/js/bootstrap.min.js"></script>
    <script src="indexx/js/jquery.magnific-popup.min.js"></script>
    <script src="indexx/js/circle-progress.min.js"></script>
    <script src="indexx/js/jquery.barfiller.js"></script>
    <script src="indexx/js/jquery.slicknav.js"></script>
    <script src="indexx/js/owl.carousel.min.js"></script>
    <script src="indexx/js/main.js"></script>
</body>

</html>