<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="IndexHome/image/favicon.png" type="image/png">
        <title>Aurora Tours & Travel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="IndexHome/css/bootstrap.css">
        <link rel="stylesheet" href="IndexHome/vendors/linericon/style.css">
        <link rel="stylesheet" href="IndexHome/css/font-awesome.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="IndexHome/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="IndexHome/css/style.css">
        <link rel="stylesheet" href="IndexHome/css/responsive.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="indexx/css/bootstrap.min.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/font-awesome.min.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/elegant-icons.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/owl.carousel.min.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/barfiller.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/magnific-popup.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/slicknav.min.css" type="text/css">
	    <link rel="stylesheet" href="indexx/css/style.css" type="text/css">
    </head>
    <body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Menu Begin -->
    <div class="humberger-menu-overlay"></div>
    <div class="humberger-menu-wrapper">
        <div class="hw-logo">
            <a href="#"><img src="img/f-logo.png" alt=""></a>
        </div>
        <div class="hw-menu mobile-menu">
            <ul>
                <li><a href="index">Home</a></li>
				<li><a href="platform">Platform </a></li>
                <li><a href="home">Booking </a></li>
				<li><a href="roombooking">Room Booking </a></li>
				<li><a href="carrent">Car Rent </a></li>
				<li><a href="foodorder">Restaurant </a></li>
                <li><a href="review">Reviews </a></li>
                <li><a href="signup">Sign-Up </a></li>
                <li><a href="signin">Sign-In </a></li>
				<li><a href="adminsignin">Administration </a></li>
            </ul>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="hw-copyright">
            Copyright © 2020 Aurora Ltd. All rights reserved
        </div>
        <div class="hw-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="hw-insta-media">
            <div class="section-title">
                <h5>Instagram</h5>
            </div>
            <div class="insta-pic">
                <img src="img/instagram/ip-1.jpg" alt="">
                <img src="img/instagram/ip-2.jpg" alt="">
                <img src="img/instagram/ip-3.jpg" alt="">
                <img src="img/instagram/ip-4.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Humberger Menu End -->

    <!-- Header Section Begin -->
    <header class="">
       
       
        <div class="nav-options">
            <div class="container">
                <div class="humberger-menu humberger-open">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="nav-search search-switch">
                    <i class="fa fa-search"></i>
                </div>
                <div class="nav-menu">
                    <ul>
                        <li class="active"><a href="index"><span>Home</span></a></li>
                        <li> <a href="platform"><span>Platform</span></a></li>
                        <li> <a href="home"><span>Booking </span></a> 
						 <ul class="dropdown">
                                <li><a href="roombooking">Room Booking</a></li>
                                <li><a href="carrent">Car Rent Here </a></li>
                                <li><a href="foodorder">Restaurent</a></li>
                         </ul>
						</li>
                        <li><a href="review"><span>Reviews </span></a></li>
                        <li><a href="adminsignup"><span>Sign-Up </span></a></li>
                        <li><a href="signin"><span>Sign-In </span></a></li>
						 <li><a href="adminsignin"><span>Administration </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

       
        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Aurora Suits</h2>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="IndexHome/image/room1.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Double Deluxe Room</h4></a>
                            <h5>2500<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="IndexHome/image/room2.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Single Deluxe Room</h4></a>
                            <h5>2000<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="IndexHome/image/room3.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Honeymoon Suit</h4></a>
                            <h5>4500<small>/night</small></h5>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="IndexHome/image/room4.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Economy Double</h4></a>
                            <h5>2000<small>/night</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->
  
        
        <!--================ Latest Blog Area  =================-->
        <section class="">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">latest posts from blog</h2>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
                </div>
                <div class="row mb_30">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="IndexHome/image/blog/blog-1.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Travel</a>
                                    <a href="#" class="button_hover tag_btn">Life Style</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Low Cost Room</h4></a>
                                <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.</p>
                                <h6 class="date title_color">31st January,2018</h6>
                            </div>	
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="IndexHome/image/blog/blog-2.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Travel</a>
                                    <a href="#" class="button_hover tag_btn">Life Style</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">Creative Outdoor Ads</h4></a>
                                <p>Self-doubt and fear interfere with our ability to achieve or set goals. Self-doubt and fear are</p>
                                <h6 class="date title_color">31st January,2018</h6>
                            </div>	
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-recent-blog-post">
                            <div class="thumb">
                                <img class="img-fluid" src="IndexHome/image/blog/blog-3.jpg" alt="post">
                            </div>
                            <div class="details">
                                <div class="tags">
                                    <a href="#" class="button_hover tag_btn">Travel</a>
                                    <a href="#" class="button_hover tag_btn">Life Style</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">It S Classified How To Utilize Free</h4></a>
                                <p>Why do you want to motivate yourself? Actually, just answering that question fully can </p>
                                <h6 class="date title_color">31st January,2018</h6>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Recent Area  =================-->
        
 
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/f-logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua lacus vel facilisis.</p>
                        <div class="fa-social">
                            <a href="facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="twitter.com"><i class="fa fa-twitter"></i></a>
                            <a href="youtube.com"><i class="fa fa-youtube-play"></i></a>
                            <a href="instagram.com"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="editor-choice">
                        <div class="section-title">
                            <h5>Editor's Choice</h5>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="img/trending/editor-1.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="#">A Monster Prom poster got hijacked for a Papa Roach concert...</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ec-item">
                            <div class="ec-pic">
                                <img src="img/trending/editor-2.jpg" alt="">
                            </div>
                            <div class="ec-text">
                                <h6><a href="facebook.com">Facebook wants to read your thoughts with its augmented...</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="tags-cloud">
                        <div class="section-title">
                            <h5>Tags Cloud</h5>
                        </div>
                        <div class="tag-list">
                            <a href="signup"><span>Registration</span></a>
                            <a href="platform"><span>Platform</span></a>
                            <a href="review"><span>Gallery</span></a>
                            <a href="index"><span>Home</span></a>
                            <a href="review"><span>Reviews</span></a>
                            <a href="roombooking"><span>Roombooking</span></a>
                            <a href="foodorder"><span> Restaurant</span></a>
                            <a href="carrent"><span>Car Rent</span></a>
                            <a href="home"><span>Search</span></a>
                            <a href="blog"><span>Aurora's Blog</span></a>
                            <a href="adminsignin"><span>Administration</span></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer Section End -->
 
 
 
 
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="IndexHome/js/jquery-3.2.1.min.js"></script>
        <script src="IndexHome/js/popper.js"></script>
        <script src="IndexHome/js/bootstrap.min.js"></script>
        <script src="IndexHome/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="IndexHome/js/jquery.ajaxchimp.min.js"></script>
        <script src="IndexHome/js/mail-script.js"></script>
        <script src="IndexHome/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="IndexHome/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="IndexHome/js/mail-script.js"></script>
        <script src="IndexHome/js/stellar.js"></script>
        <script src="IndexHome/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="IndexHome/js/custom.js"></script>
        <script src="indexx/js/jquery-3.3.1.min.js"></script>
	    <script src="indexx/js/bootstrap.min.js"></script>
	    <script src="indexx/js/jquery.magnific-popup.min.js"></script>
	    <script src="indexx/js/circle-progress.min.js"></script>
	    <script src="indexx/js/jquery.barfiller.js"></script>
	    <script src="indexx/js/jquery.slicknav.js"></script>
	    <script src="indexx/js/owl.carousel.min.js"></script>
	    <script src="indexx/js/main.js"></script>	
    </body>
</html>