<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Royal Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="IndexHome/css/bootstrap.css">
        <link rel="stylesheet" href="IndexHome/vendors/linericon/style.css">
        <link rel="stylesheet" href="IndexHome/css/font-awesome.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="IndexHome/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="IndexHome/vendors/lightbox/simpleLightbox.css">
        <!-- main css -->
        <link rel="stylesheet" href="IndexHome/css/style.css">
        <link rel="stylesheet" href="IndexHome/css/responsive.css">
    </head>
    <body>
    
   
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Gallery</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Gallery</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="gallery_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Aurora's Gallery</h2>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
                <div class="row imageGallery1" id="gallery">
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/01.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/01.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/02.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/02.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/mage/gallery/03.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/03.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/04.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/04.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/06.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/05.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/05.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/06.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
					 <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/06.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/05.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/05.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/06.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
					 <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/06.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/05.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/05.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/06.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/01-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/01-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/02-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/02-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 gallery_item">
                        <div class="gallery_img">
                            <img src="IndexHome/image/gallery/03-1.jpg" alt="">
                            <div class="hover">
                            	<a class="light" href="IndexHome/image/gallery/03-1.jpg"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4 gallery_item">
                         <div class="single-footer-widget instafeed">
                            <h6 class="footer_title">InstaFeed</h6>
                            <ul class="list_style instafeed d-flex flex-wrap">
                                <li><img src="IndexHome/image/instagram/Image-01.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-02.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-03.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-04.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-05.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-06.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-07.jpg" alt=""></li>
                                <li><img src="IndexHome/image/instagram/Image-08.jpg" alt=""></li>
								<li><img src="IndexHome/image/instagram/Image-02.jpg" alt=""></li>
								 <li><img src="IndexHome/image/instagram/Image-05.jpg" alt=""></li>
                            </ul>
                        </div>		
                    </div>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
 
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="IndexHome/js/jquery-3.2.1.min.js"></script>
        <script src="IndexHome/js/popper.js"></script>
        <script src="IndexHome/js/bootstrap.min.js"></script>
        <script src="IndexHome/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="IndexHome/js/jquery.ajaxchimp.min.js"></script>
        <script src="IndexHome/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="IndexHome/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="IndexHome/js/mail-script.js"></script>
        <script src="IndexHome/js/stellar.js"></script>
        <script src="IndexHome/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="IndexHome/vendors/isotope/isotope-min.js"></script>
        <script src="IndexHome/js/stellar.js"></script>
        <script src="IndexHome/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="IndexHome/js/custom.js"></script>
    </body>
</html>